<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div>
        {{>header}}
        <p>This site was created by boss Bart</p>
        <img class='portrait' src="img/robot.png" alt="robot" />
    </div>
    {{>footer}}
</body>

</html>